body {
    background-color: #ecedee
}



.beverageInfo {
    height: 340px;
    background-color: #f7f7f7;
    padding: 20px 25px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.content p {
    font-size: 12px
}

.right-side {
    position: relative
}
