@import "~react-image-gallery/styles/css/image-gallery.css";

:root {
    --color-bg: #2C2C32;
    --color-active: #0f7dc6;
}

.active {
    color: var(--color-active);
    cursor: default;
}

ul {
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif !important;
}
p {
    font-size: 14.4px;
    line-height: 24px;
}

label {
    display: block;
    margin-top: 10px;
}

.card-container.card {
    max-width: 350px !important;
    padding: 40px 40px;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: scale-down;
}

.section-title-border {
    width: 50px;
    height: 2px;
    margin: 16px auto 0 auto;
    background-color: #fb3e3e;
}

.hover-effect {
    /* width: fit-content;
    margin: auto; */

    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.hover-effect:hover {
    transform: translateY(-1rem);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hover-effect-px {
    /* width: fit-content;
    margin: auto; */

    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.hover-effect-px:hover {
    transform: translateY(-5px);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}